



#calDiv {
    height: 250px;
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: right;
}

#digOppDiv{
    /* padding: 30px; */
    display: flex;
    flex-wrap: wrap;
}

#digOppDiv button {
    width: 25%;
    height: 25%;
    font-weight: bolder;
}

#clear{
    width: 100%;
    font-weight: bolder;
}

div {
    border: solid 2px black;
    padding: 10px;
}