#calDiv {
    height: 300px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#digOppDiv{
    padding: 30px;
}

.digit, .operator{
    
}

div {
    border: solid 2px black;
    padding: 10px;
}